/* image upload */

.image-upload {
  height: 125px;
  width: 125px;
  background-color: #dfe5eb;
  overflow: hidden;
}
.image-upload img {
  width: 125px;
}

.image-upload
  .ant-upload-list-picture-card
  .ant-upload-list-item-actions
  .anticon-eye {
  display: none;
}

.image-upload .ant-upload.ant-upload-select-picture-card,
.ant-upload-list-picture-card-container {
  width: 125px;
  height: 125px;
}
